body {
  font-family: Helvetica,Arial,Sans-Serif;
  font-size: 12pt;
  margin: 2em;
}
#left {
  width: 30%;
  float: left;
  height: 500px;
  overflow-y:scroll;
}
#right {
  text-align: center;
  height: 500px;
  overflow-y:scroll;
}
#title{
    float: left;
    margin-left:100px;
}
#portada{
    float: right;
    margin-right:100px;
}
em{
    float:left;
    margin-top:40px;
     margin-right:100px;
      margin-left:100px;
}
#top {
  margin-top: 2.5m;
  margin-bottom: 3em;
}
td {
  padding: 4px;
}
li {
  font-size: 120%;
  line-height: 200%;
}
.selector {
  font-size: 1.2em;
  font-weight: bold;
}

input {
  color: blue;
}
